
@media (max-width: 1138px) {
    .menu {
        padding-right: 0;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .benefits .child {
    }
}
@media (max-width: 1080px) {
    .information {
        color: white;
        font-size: 16px;
    }
    .benefits p {
        font-size: 15px;
    }
    /* .card__mini, .card__midi, .card__maxi {
        height: 500px;
    } */
    .card {
        padding-bottom: 100px;
    }
}
@media (max-width: 1024px) {
    .telnumber {
        font-size:calc(16px + 20 * ((100vw - 320px) / (1500 - 320)));

    }
    .invest {
        display: none;
    }
    .invest-in {
        color: #1c477f;
        padding-top: 5rem;
        display: block;
        text-align: center;
    }
    .forma {
        flex: 0 1 40%;
    }
    .group2 {
        flex: 0 1 60%;
    }
    .tel {
        display: none;
    }
    .images {
        margin-left: 0px;
    }
    .group1 {
        margin-left: 0px;
    }

    
    .menu-footer {
        margin-bottom: 30px;
        padding-top: 30px;
    }
    
    .build {
        padding-bottom: 25%;
    }
    
    .submit {
        line-height: 1.2;
        padding-top: 7%;
    }
    .submit-application {
        font-size: 18px;
        line-height: 1.2;
    }
}
@media (max-width: 940px) {
    .benefits .child {
        flex: 0 1 50%;
    }
    .submit {
        font-size: 20px;
        line-height: 1;
        padding-bottom: 60px;
    }
    .convenient__list {
        margin-left: 0px;
    }
    
    
    .advantages {
        display: none;
    }
}
@media (max-width: 890px) {
    .invest-in-your {
        flex-direction: column-reverse;
        align-items: center;
    }
    .group2 {
        display: none;
    }
    .invest-in {
        color: #1c477f;
        text-align: center;
    }

    .menu__item a {
        padding-right: 10px;
    }

    .about-anna-alex {
        padding-left: 30px;
        margin-right: 30px;
    }
}
@media (max-width: 840px) {
    .slider-three-section {
    position: relative;
    padding: 0;
    flex: 0 1 100%;
    }
    .for-convenient {
    flex: 0 1 100%;
}
    .for-slider-and-convenient {
    }
    .menu {
        padding-left: 10px;
    }
    
    .convenient__list {
        flex-wrap: wrap;
        padding: 0;
        padding-top: 30px;
        flex-direction: row;
    }
    .convenient__list li {
        margin-top: 50px;
        flex: 0 1 50%;
    }
    li.individual {
        display: none;
    }
}

@media (max-width: 768px) {
    .invest-in-your .forma {
    padding-top: 0;
    }
    .slider-three-section .slick-arrow {
        display: none;
    }
    .convenient__list {
        flex-wrap: wrap;
    }
    .for-mobile {
        display: block;
    }
    .five form {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .we-offer,
    .great {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .invest {
        display: none;
    }
    .we-offer {
        font-size: calc(15px + 10 * ((100vw - 320px) / (1500 - 320)));
        text-align: center;
    }
    .slider .slick-arrow {
    }
    .great {
        font-size: calc(15px + 10 * ((100vw - 320px) / (1500 - 320)));
    }
    .offer {
        display: none;
    }
    .icons.invisible {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .menu {
        display: none;
    }
    .invisible {
        display: block;
    }
    .burger.invisible {
        display: flex;
    }
    .build {
        padding-bottom: 0%;
    }
    .develop {
        margin-top: 0;
    }
    .develop-get-advan {
        flex: 0 1 45%;
    }
    .pic {
        height: 200px;
    }

    .anna-alexandr {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .photo-anna,
    .photo-alex {
        padding: 10px;
        box-sizing: border-box;
    }
    .about-anna-alex {
        margin-right: 0px;
    }
    .information {
        max-width: 100%;
    }

    .invest-in {
        color: #1c477f;
        padding-top: 5rem;
    }

    .forma {
        flex: 0 1 40%;
    }
    .format h2 {
        padding: 0;
    }
    .card {
        display: none;
    }
    .card__mini,
    .card__midi,
    .card__maxi {
        flex: 0 1 45%;
    }

    .telnumber {
        display: none;
    }
    .contacts-footer {
        flex-direction: column;
        align-items: center;
    }
    .e-mail-adress {
        flex: 0 1 50%;
    }

    .icons-in-footer {
        flex: 0 1 50%;
    }
}
@media (max-width: 650px) {
    .photo-anna, .photo-alex {
    flex: 0 0 30%;
}
    .for-benefits img {
        width: 60px;
        height: 60px;
    }
    .for-benefits p {
        font-size: 14px;
    }
    .convenient__list li {
        /* width: 50%; */
        flex: 0 1 50%;
    }
    .icons.invisible {
        justify-content: space-evenly;
    }
    .tel {
        display: none;
    }
    .invisible2 {
        display: block;
    }
    .request {
        display: none;
    }
    .content {
        flex-direction: column-reverse;
    }
    .images {
        height: 450px;
        padding: 0;
    }
    .develop-get-advan {
        align-items: center;
        margin-left: 0;
    }
    .invisible-for-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .build {
        text-align: center;
    }
    .develop {
        text-align: center;
        padding-bottom: 35px;
        margin: 0;
    }
    .icons {
        padding-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .icons-in-footer {
        padding: 0;
    }
    .benefits {
        /* flex-direction: column; */
    }

    .card__mini,
    .card__midi,
    .card__maxi {
        flex: 1 1 100%;
    }
    .in-card p {
        text-align: center;
    }
    .invest-in-your {
        flex-direction: column-reverse;
        align-items: center;
    }
    .group2 {
        display: none;
    }
    .benefits .child {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .child p {
        padding: 10px 0 0 0;
    }
}
@media (max-width: 500px) {
    .adress {
        display: none;
    }
    .convenient__list {
        align-items: center;
        flex-direction: column;
    }
    .convenient__list li {
        text-align: center;
        flex: 0 1 100%;
        background-position: 100px 5px;
    }
    .for-convenient {
        align-items: center;
    }
    .contacts {
        flex-direction: column;
    }
    .e-mail-adress {
        padding-bottom: 40px;
    }
    .map {
        display: none;
    }
    .menu-footer {
        flex-direction: column;
        align-items: center;
    }
    .foot {
        padding-bottom: 20px;
    }
    .photo-anna,
    .photo-alex {
        display: none;
    }
    .about-anna-alex {
        padding-left: 0px;
        flex: 0 1 100%;
    }
}
